{% extends "geonode-mapstore-client/snippets/custom_theme.html" %}
{% block content %}
<style>
    :root {
      --tag-color: #a51d2d;
    }
    :root {
      --ms-font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      --ms-font-family-serif: Georgia, 'Times New Roman', Times, serif;
      --ms-font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
      --ms-font-family-base: Montserrat, sans-serif;
      --ms-main-bg: #ffffff;
      --ms-mask-bg: rgba(255, 255, 255, 0.5);
      --ms-main-color: #000000;
      --ms-main-border-color: #deddda;
      --ms-main-variant-color: #000000;
      --ms-main-variant-bg: #f2f0f0;
      --ms-main-hover-color: #000000;
      --ms-main-hover-bg: #eeeeee;
      --ms-code-color: #c7254e;
      --ms-focus-color: #98710a;
      --ms-selected-color: #ce990d;
      --ms-selected-bg: rgba(206, 153, 13, 0.4);
      --ms-selected-hover-bg: rgba(98, 152, 250, 0.1);
      --ms-footer-color: #000000;
      --ms-footer-bg: #ffffff;
      --ms-footer-link-color: #a51d2d;
      --ms-footer-link-hover-color: #ed333b;
      --ms-placeholder-color: #aaaaaa;
      --ms-placeholder-bg: #dddddd;
      --ms-disabled-color: #acacac;
      --ms-disabled-bg: #fcfcfc;
      --ms-link-color: #a51d2d;
      --ms-link-hover-color: #e01b24;
      --ms-image-color: #dddddd;
      --ms-image-bg: #f2f2f2;
      --ms-primary: #26a269;
      --ms-primary-contrast: #ffffff;
      --ms-info: #8ff0a4;
      --ms-info-contrast: #ffffff;
      --ms-success: #58cf80;
      --ms-success-contrast: #ffffff;
      --ms-warning: #ebbc35;
      --ms-warning-contrast: #ffffff;
      --ms-danger: #bb4940;
      --ms-danger-contrast: #ffffff;
      --ms-loader-color: #000000;
      --ms-loader-fade-color: rgba(0, 0, 0, 0.2);
      --ms-loader-primary-color: #26a269;
      --ms-loader-primary-fade-color: rgba(38, 162, 105, 0.2);
      --ms-loader-primary-contrast-color: #ffffff;
      --ms-loader-primary-contrast-fade-color: rgba(255, 255, 255, 0.2);
      --ms-badge-color: #000000;
      --ms-badge-bg: #D5D5D5;
      --ms-jumbotron-color: #ffffff;
      --ms-jumbotron-bg: #1b5d31;
      --ms-timeline-selected-bg: rgba(38, 162, 105, 0.05);
      --ms-timeline-histogram-bg: rgba(38, 162, 105, 0.5);
      --ms-timeline-histogram-color: #1c794e;
      --ms-timeline-range-bg: rgba(0, 0, 0, 0.2);
      --ms-timeline-playback-range-bg: rgba(128, 218, 158, 0.2);
      --ms-button-color: #000000;
      --ms-button-bg: #ffffff;
      --ms-button-border-color: #deddda;
      --ms-button-focus-color: #000000;
      --ms-button-focus-bg: #ffffff;
      --ms-button-focus-border-color: #deddda;
      --ms-button-hover-color: #1a1a1a;
      --ms-button-hover-bg: #e6e6e6;
      --ms-button-hover-border-color: #deddda;
      --ms-button-active-color: #1a1a1a;
      --ms-button-active-bg: #e6e6e6;
      --ms-button-active-border-color: #deddda;
      --ms-button-active-hover-color: #1a1a1a;
      --ms-button-active-hover-bg: #d4d4d4;
      --ms-button-active-hover-border-color: #deddda;
      --ms-button-disabled-color: #acacac;
      --ms-button-disabled-bg: #fcfcfc;
      --ms-button-disabled-border-color: #fcfcfc;
      --ms-button-badge-color: #000000;
      --ms-button-badge-bg: #ffffff;
      --ms-button-primary-color: #ffffff;
      --ms-button-primary-bg: #26a269;
      --ms-button-primary-border-color: #22915e;
      --ms-button-primary-focus-color: #ffffff;
      --ms-button-primary-focus-bg: #26a269;
      --ms-button-primary-focus-border-color: #22915e;
      --ms-button-primary-hover-color: #ffffff;
      --ms-button-primary-hover-bg: #1c794e;
      --ms-button-primary-hover-border-color: #1a7049;
      --ms-button-primary-active-color: #ffffff;
      --ms-button-primary-active-bg: #1c794e;
      --ms-button-primary-active-border-color: #1a7049;
      --ms-button-primary-active-hover-color: #ffffff;
      --ms-button-primary-active-hover-bg: #165c3b;
      --ms-button-primary-active-hover-border-color: #0e3b26;
      --ms-button-primary-disabled-color: #acacac;
      --ms-button-primary-disabled-bg: #fcfcfc;
      --ms-button-primary-disabled-border-color: #fcfcfc;
      --ms-button-primary-badge-color: #26a269;
      --ms-button-primary-badge-bg: #ffffff;
      --ms-button-info-color: #ffffff;
      --ms-button-info-bg: #8ff0a4;
      --ms-button-info-border-color: #7dee95;
      --ms-button-info-focus-color: #ffffff;
      --ms-button-info-focus-bg: #8ff0a4;
      --ms-button-info-focus-border-color: #7dee95;
      --ms-button-info-hover-color: #ffffff;
      --ms-button-info-hover-bg: #62ea7f;
      --ms-button-info-hover-border-color: #59e978;
      --ms-button-info-active-color: #ffffff;
      --ms-button-info-active-bg: #62ea7f;
      --ms-button-info-active-border-color: #59e978;
      --ms-button-info-active-hover-color: #ffffff;
      --ms-button-info-active-hover-bg: #43e666;
      --ms-button-info-active-hover-border-color: #1fe149;
      --ms-button-info-disabled-color: #acacac;
      --ms-button-info-disabled-bg: #fcfcfc;
      --ms-button-info-disabled-border-color: #fcfcfc;
      --ms-button-info-badge-color: #8ff0a4;
      --ms-button-info-badge-bg: #ffffff;
      --ms-button-success-color: #ffffff;
      --ms-button-success-bg: #58cf80;
      --ms-button-success-border-color: #39c568;
      --ms-button-success-focus-color: #ffffff;
      --ms-button-success-focus-bg: #58cf80;
      --ms-button-success-focus-border-color: #39c568;
      --ms-button-success-hover-color: #ffffff;
      --ms-button-success-hover-bg: #36be64;
      --ms-button-success-hover-border-color: #34b660;
      --ms-button-success-active-color: #ffffff;
      --ms-button-success-active-bg: #36be64;
      --ms-button-success-active-border-color: #34b660;
      --ms-button-success-active-hover-color: #ffffff;
      --ms-button-success-active-hover-bg: #2fa255;
      --ms-button-success-active-hover-border-color: #258245;
      --ms-button-success-disabled-color: #acacac;
      --ms-button-success-disabled-bg: #fcfcfc;
      --ms-button-success-disabled-border-color: #fcfcfc;
      --ms-button-success-badge-color: #58cf80;
      --ms-button-success-badge-bg: #ffffff;
      --ms-button-warning-color: #ffffff;
      --ms-button-warning-bg: #ebbc35;
      --ms-button-warning-border-color: #e9b622;
      --ms-button-warning-focus-color: #ffffff;
      --ms-button-warning-focus-bg: #ebbc35;
      --ms-button-warning-focus-border-color: #e9b622;
      --ms-button-warning-hover-color: #ffffff;
      --ms-button-warning-hover-bg: #d8a515;
      --ms-button-warning-hover-border-color: #ce9e14;
      --ms-button-warning-active-color: #ffffff;
      --ms-button-warning-active-bg: #d8a515;
      --ms-button-warning-active-border-color: #ce9e14;
      --ms-button-warning-active-hover-color: #ffffff;
      --ms-button-warning-active-hover-bg: #b78d12;
      --ms-button-warning-active-hover-border-color: #92700e;
      --ms-button-warning-disabled-color: #acacac;
      --ms-button-warning-disabled-bg: #fcfcfc;
      --ms-button-warning-disabled-border-color: #fcfcfc;
      --ms-button-warning-badge-color: #ebbc35;
      --ms-button-warning-badge-bg: #ffffff;
      --ms-button-danger-color: #ffffff;
      --ms-button-danger-bg: #bb4940;
      --ms-button-danger-border-color: #ac433b;
      --ms-button-danger-focus-color: #ffffff;
      --ms-button-danger-focus-bg: #bb4940;
      --ms-button-danger-focus-border-color: #ac433b;
      --ms-button-danger-hover-color: #ffffff;
      --ms-button-danger-hover-bg: #953a33;
      --ms-button-danger-hover-border-color: #8d3730;
      --ms-button-danger-active-color: #ffffff;
      --ms-button-danger-active-bg: #953a33;
      --ms-button-danger-active-border-color: #8d3730;
      --ms-button-danger-active-hover-color: #ffffff;
      --ms-button-danger-active-hover-bg: #7a302a;
      --ms-button-danger-active-hover-border-color: #5c241f;
      --ms-button-danger-disabled-color: #acacac;
      --ms-button-danger-disabled-bg: #fcfcfc;
      --ms-button-danger-disabled-border-color: #fcfcfc;
      --ms-button-danger-badge-color: #bb4940;
      --ms-button-danger-badge-bg: #ffffff;
      --ms-button-tray-color: #1a1a1a;
      --ms-button-tray-bg: #ffffff;
      --ms-button-tray-border-color: #28aa6e;
      --ms-button-tray-focus-color: #1a1a1a;
      --ms-button-tray-focus-bg: #e6e6e6;
      --ms-button-tray-focus-border-color: #176441;
      --ms-button-tray-hover-color: #1a1a1a;
      --ms-button-tray-hover-bg: #e6e6e6;
      --ms-button-tray-hover-border-color: #249a64;
      --ms-button-tray-active-color: #1a1a1a;
      --ms-button-tray-active-bg: #e6e6e6;
      --ms-button-tray-active-border-color: #249a64;
      --ms-button-tray-active-hover-color: #1a1a1a;
      --ms-button-tray-active-hover-bg: #d4d4d4;
      --ms-button-tray-active-hover-border-color: #176441;
      --ms-button-tray-disabled-color: #acacac;
      --ms-button-tray-disabled-bg: #fcfcfc;
      --ms-button-tray-disabled-border-color: #fcfcfc;
      --ms-button-tray-badge-color: #ffffff;
      --ms-button-tray-badge-bg: #1a1a1a;
}
</style>
{% endblock %}