{% load static %}
<footer class="gn-footer">
    <a href="https://www.ird.fr/">
        <img src="{% static 'img/logo_france.svg' %}" alt="République française" class="footer-logo">
        <img src="{% static 'img/logo_guinee.png' %}" alt="République de Guinée"  class="footer-logo">
        <img src="{% static 'img/logo_ireg.jpeg' %}" alt="Institut de Recherche en Environnement de Guinée" class="footer-logo">
        <img src="{% static 'img/logo_csig.png' %}" alt="Cité des Sciences et de l'Innovation de Guinée" class="footer-logo">
        <img src="{% static 'img/logo_kew.png' %}" alt="Kew Gardens" class="footer-logo">
        <img src="{% static 'img/logo_ird.png' %}" alt="Institut de Recherche pour le Développement" class="footer-logo">
        <img src="{% static 'img/logo_hng.png' %}" alt="Herbier National de Guinée" class="footer-logo">
        <img src="{% static 'img/logo_amap.jpg' %}" alt="UMR AMAP" class="footer-logo">
    </a>
</footer>

<style>
    .footer-logo {
        height: 80px;
    }
</style>