{% load static %}
<footer class="gn-footer">
    <ul>
        <li>
            <img src="{% static 'img/logo_france.png' %}" alt="République française" class="footer-logo">
        </li>
        <li>
            <a href="https://www.ird.fr/">
                <img src="{% static 'img/logo_ird.png' %}" alt="Institut de Recherche pour le Développement" class="footer-logo">
            </a>
        </li>
        <li>
            <img src="{% static 'img/logo_guinee.png' %}" alt="République de Guinée"  class="footer-logo">
        </li>
        <li>
            <a href="https://www.linkedin.com/in/institut-de-recherche-en-environnement-de-guin%C3%A9e-ireg-guin%C3%A9e-8a2b13397/">
                <img src="{% static 'img/logo_ireg.jpeg' %}" alt="Institut de Recherche en Environnement de Guinée" class="footer-logo">
            </a>
        </li>
        <li>
            <a href="https://www.csig.edu.gn/">
                <img src="{% static 'img/logo_csig.png' %}" alt="Cité des Sciences et de l'Innovation de Guinée" class="footer-logo">
            </a>
        </li>
        <li>
            <a href="https://www.kew.org/">
                <img src="{% static 'img/logo_kew.png' %}" alt="Kew Gardens" class="footer-logo">
            </a>
        </li>
        <li>
            <a href="https://www.herbierguinee.org/">
                <img src="{% static 'img/logo_hng.png' %}" alt="Herbier National de Guinée" class="footer-logo">
            </a>
        </li>
        <li>
            <a href="https://amap.cirad.fr">
                <img src="{% static 'img/logo_amap.jpg' %}" alt="UMR AMAP" class="footer-logo">
            </a>
        </li>
    </ul>
</footer>

<style>
    .footer-logo {
        height: 100px;
    }
    .msggapi gn-footer {
        background-color: #ffffff;
    }
</style>