{% extends 'index.html' %}

{% block content %}

    <div class="gn-container">
        <div class="gn-resource-page-catalog">
            <div class="gn-resource-page-catalog-section">
            <div class="gn-resource-page-catalog-content">
            <h4>Résumé du projet</h4>
            <p>
            La République de Guinée est un pays d’Afrique de l’Ouest composé de quatre régions naturelles.
            Sa diversité d’écorégions, son relief accidenté, ainsi que sa localisation dans une zone de transition entre
            savanes arborées et forêts humides confèrent à la Guinée une flore riche, ainsi qu’une grande diversité
            d’écosystèmes végétaux. Ces derniers ont cependant été largement dégradés par les activités anthropiques,
            et sont aujourd’hui extrêmement menacés. Si près de 20 % du territoire de la République de Guinée fait partie du
            point chaud de la biodiversité “Forêt guinéenne de l’Ouest africain”, les forêts denses et non dégradées couvrent
            aujourd’hui à peine 3 % du territoire national, et leur surface est en déclin. Par ailleurs,
            le scénario tendanciel (“business-as-usual”) de déforestation dans les zones tropicales estime que ces forêts
            auront totalement disparu d’ici 2050. Il est aujourd’hui urgent de s’intéresser à ces forêts menacées et
            sous-étudiée, qui présentent un intérêt majeur pour la communauté scientifique internationale et constituent
            un précieux patrimoine ainsi qu’un atout important pour l’atteinte des objectifs de développement durable
            en Guinée. La JEAI COSFOGUI a pour objectif d’améliorer notre connaissance de la distribution spatiale passée
            et présente des forêts de Guinée, et de proposer un plan d’extension du réseau national d’aires protégées
            en République de Guinée. En effet, les forêts guinéenes sont extrêmement fragmentées et s’inscrivent dans
            une mosaïque paysagère complexe qu’il nous est aujourd’hui difficile d’analyser finement. Par ailleurs,
            dans l’optique d’atteindre l’objectif “30 par 30” de Kunming-Montreal (30 % d’aires protégées d’ici 2030)
            en République de Guinée, il sera nécessaire d’inclure dans le réseau national d’aires protégées des zones
            dégradées qui ont la capacité de se régénérer, de manière naturelle ou assistée. Une bonne identification de
            ces zones nécessite : (i) de disposer d’une cartographie forestière à haute résolution qui permettra d’identifier
            les forêts reliques et les corridors écologiques et de (ii) de mieux cartographier la déforestation passée
            en Guinée, afin de distinguer les mosaïques de forêts-savanes naturelles de celles qui résultent de
            perturbations anthropiques. Ces connaissances permettront de proposer un plan d’extension du réseau national
            d’aires protégées tenant compte des évolutions passées de la couverture forestière, dans l’optique d’atteindre
            l’objectif ”30 par 30” en République de Guinée. La mise en place de ces activités permettra également de
            créer et de renforcer des synergies entre l’IREG et la CSIG, tout en contribuant au renforcement des capacités
            au sein de ces deux institutions à différents niveaux. Ce projet permettra également de produire des données
            scientifiques de haute qualité, essentielles pour éclairer les politiques publiques en matière
            d’environnement et d’aménagement du territoire.
            </p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block container %}
{% endblock %}